<div class="container-fluid" cg-busy="promise">
    <div class="col-xs-12">
        <h1 class="text-center text-info"><b>Feed</b></h1>
        <div class="panel panel-default col-xs-12 col-sm-6 col-lg-4" ng-repeat="feedItem in selfFeed">
            <div class="panel-body">

                <div class="panel-body popme feed-author-info">
                    <div class="col-xs-4 feed-author">
                        <a ng-href="/#/user/{{feedItem.user.id}}"><img class="user-image img-circle center-block" ng-src="{{feedItem.user.profile_picture}}"/></a>
                    </div>
                    <div class="col-xs-8 pull-left">
                        <a ng-href="/#/user/{{feedItem.user.id}}"><p>{{feedItem.user.username}}</p></a>
                        <p>{{feedItem.user.full_name}}</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <a target="_blank" ng-href="{{feedItem.link}}"><img class="img-responsive center-block" ng-src="{{feedItem.images.low_resolution.url}}"></a>
                </div>

                <div class="col-xs-12 feed-stats">
                    <p class="text-primary"><b>Filter: <span class="text-danger">{{feedItem.filter}}</span></b></p>
                    <p class="text-primary"><b>Time: <span class="text-danger">{{feedItem.caption.created_time*1000 | date : 'medium'}}</span></b></p>
                    <p class="text-primary"><b>Likes: <span class="text-danger">{{feedItem.likeScore}}</span></b></p>
                    <p class="text-primary"><b>Comments: <span class="text-danger">{{feedItem.commentScore}}</span></b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 load-more">
        <a ng-click="getNextFeed()">
            <button class="btn btn-default btn-block">
                Load More
            </button>
        </a>
    </div>
</div>
