<div cg-busy="promise">
        <h1 class="text-center text-info"><b>Feed</b></h1>
        <div class="feed-item col-xs-12 col-md-6 col-lg-4" ng-repeat="feedItem in selfFeed">
            <div class="feed-header row">
                <a ng-href="/#/user/{{feedItem.user.id}}">
                    <div class="panel-body feed-author-info
                      col-xs-6 col-sm-4 col-lg-6" tooltip="{{tooltips.user}}">
                        <div class="row feed-author">
                            <img class="user-image img-circle center-block" ng-src="{{feedItem.user.profile_picture}}"/>
                        </div>
                        <div class="row">
                            <p class="text-info text-center"><b>{{feedItem.user.username}}</b></p>
                        </div>
                    </div>
                </a>

                <div class="col-xs-6 col-sm-8 col-lg-6 feed-stats">
                    <p class="text-primary"><b>Filter: <span class="text-danger">{{feedItem.filter}}</span></b></p>
                    <p class="text-primary"><b>Time: <span class="text-danger">{{feedItem.caption.created_time*1000 || 'unknown' | date : 'short'}}</span></b></p>
                    <p class="text-primary"><b>Likes: <span class="text-danger">{{feedItem.likeScore}}</span></b></p>
                    <p class="text-primary"><b>Comments: <span class="text-danger">{{feedItem.commentScore}}</span></b></p>
                </div>
            </div>


            <div class="row">
                <a tooltip="{{tooltips.instagram}}" target="_blank" ng-href="{{feedItem.link}}">
                    <img class="feed-image center-block" ng-src="{{feedItem.images.standard_resolution.url}}">
                </a>
            </div>


        </div>
    <div class="row load-more">
        <a ng-click="getNextFeed()">
            <button class="btn btn-default btn-block">
                Load More
            </button>
        </a>
    </div>
</div>
